.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.DS_Store
_quarto.yml
_site/about.html
_site/cs.html
_site/data.html
_site/index.html
_site/posts/cs_projects/ngon_game/index.html
_site/posts/cs_projects/pokemon/index.html
_site/posts/data_projects/boardgame_analysis/index.html
_site/posts/data_projects/depression_prediction/index.html
_site/posts/data_projects/edTech_mentalHealth/index.html
_site/posts/data_projects/moviesuccess_analysis/index.html
_site/posts/data_projects/weightlifting_success/index.html
_site/site_libs/bootstrap/bootstrap.min.css
docs/.DS_Store
docs/about.html
docs/cs.html
docs/data.html
docs/index.html
docs/posts/cs_projects/ngon_game/index.html
docs/posts/cs_projects/pokemon/index.html
docs/posts/data_projects/boardgame_analysis/index.html
docs/posts/data_projects/depression_prediction/index.html
docs/posts/data_projects/edTech_mentalHealth/index.html
docs/posts/data_projects/moviesuccess_analysis/index.html
docs/posts/data_projects/weightlifting_success/index.html
docs/site_libs/bootstrap/bootstrap.min.css
posts/.DS_Store
posts/cs_projects/.DS_Store
posts/data_projects/.DS_Store
posts/data_projects/weightlifting_success/index.qmd
